# Logging
import logging
loglevel = logging.DEBUG
logformat = '%(asctime)-15s %(message)s'

# MQTT Broker
broker = 'localhost'
port = 1883
username = None
password = None
lwt = None

# Mail authentication
mailusername='email@mailbox.com'
mailpassword='password'

# Mail recipients
recipient = {
    'recipient1@gmail.com',
    'recipient2@gmail.com',
}

# MQTT topics -> email subject
topicsubject = {
    'notification/info'  : 'Information'
}


